<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Login LAW Tugas 1</title>
  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
  <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body style="background-color: #e3f2fd;">

<div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-xl-9 pb-5">
      <div class="card rounded-5 text-black">
        <div class="card-body py-5 px-5 mx-3">
          <div class="text-center" th:if="${param.error}">
            <span style="color: red">Invalid username and password.</span>
          </div>
          <h3 class="text-center fw-bold" style="color:#0d47a1;">Login</h3>
          <br>
          <br>
          <form th:action="@{/login}" method="POST">
            <div class="mb-4">
              <label for="formInput" class="form-label fw-bold" style="color:#0d47a1;">Username:</label>
              <input type="text" class="form-control" id="formInput" placeholder="Username" name="username">
            </div>
            <div class="mb-4">
              <label for="formInput2" class="form-label fw-bold" style="color:#0d47a1;">Password:</label>
              <input type="password" class="form-control" id="formInput2" placeholder="Password" name="password">
            </div>

            <br>
            <div class="text-center">
              <button type="submit" class="btn btn-primary">Sign In</button>
            </div>
            <br>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>